.pagination {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 10px 0px;
}

.btn {
	width: 25px;
	height: 25px;
	font-size: 17px;
	border-radius: 2px;
	outline: none;
	border: none;
	background-color: white;
	cursor: pointer;
	margin: 0px 2px;
	color: #666666;
}

.activeBtn {
	background-color: #5f9e52;
	color: white;
}


.prev,
.next {
  font-size: 15px;
	border: none;
	color: #666666;
	cursor: pointer;
	outline: none;
	background-color: white;
}

.prev:disabled,
.next:disabled {
	color:#666666;
	opacity: 0.5;
}

.prev {
	margin-right: 5px;
}

.next {
	margin-left: 5px;
}