.wrapper {
	min-height: 90%;
	padding-left: 60px;
}

.loaderContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 200px;
	padding-right: 60px;
}

.filters {
  font-size: 13px;
	color: #666666;
	width: 100%;
	display: flex;
	opacity: 0.5;
	border-bottom: solid 1px #979797;
	height: 27px;
	display: flex;
	align-items: center;
	letter-spacing: 1.13px;
	font-weight: 500;
}

.productsContainer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
}

.priceFilter,
.alphFilter {
	margin-right: 20px;
}

.activeFilter {
	color: black;
}

.priceFilter,
.alphFilter,
.reset {
	cursor: pointer;
}

.noProduct {
	margin-top: 10px;
}

