.navigation {
	border-top: solid 1px rgba(151, 151, 151, 0.5);
	border-bottom: solid 1px rgba(151, 151, 151, 0.5);
	position: relative;
}

.nav {
	list-style: none;
	min-height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 245px;
	background-color: rgba(216, 216, 216, 0.15);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
	flex-wrap: wrap;
}

.item {
	font-size: 17px;
	font-weight: 500;
  letter-spacing: 0.94px;
	color: #5f9e52;
	padding: 5px 30px;
	white-space: nowrap;
	border-right: solid 1px rgba(151, 151, 151, 0.5);
	cursor: pointer;
}

.growNavItem{
	border: none;
}

.item:first-child {
	padding-left: 0;
}

.item:last-child {
	padding-right: 0;
	border: none;
}

.cartWrapper {
	position: absolute;
	right: 0;
	top: 0;
	width: 140px;
	display: flex;
	min-height: 75px;
	align-items: center;
	cursor: pointer;
	z-index: 5;
}

.countWrapper {
	position: absolute;
	top: 17px;
	left: 11px;
	width: 21px;	
	height: 21px;
	display: flex;
	align-items: center;
	cursor: pointer;
	z-index: 10;
	background-color: blue;
	justify-content: center;
	border-radius: 50%;
	background-color: #48c7ea;
	color: white;
	font-size: 15px;
}

.cart {
	width: 37px;
	margin-right: 5px;
}

.name {
  font-size: 11px;
  color: #666666;
}

.price {
	font-size: 14px;
	color: #5f9e52;
}