* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

body {
	font-family: 'Roboto', sans-serif; 
}
a {
  color: inherit;
  text-decoration: none;
}


.app {
  max-width: 1366px;
  margin: 0 auto;
  min-height: 100vh;
  border: solid 1px rgba(151, 151, 151, 0.5);
}